# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* How to run, delete, and insert a code cell in Jupyter Notebooks.

* How to run multiple notebooks at the same time.

* How to present a notebook using a combination of Markdown and code cells.

* How to shut down your notebook sessions after you have completed your work on them.

* Jupyter implements a two-process model with a kernel and a client.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. NumPy (Python)
3. scikit-learn (Python)
4. TensorFlow (Python)
5. Keras (Python)

|Data Science tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python :

In [11]:
## This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [12]:
# This will convert 200 minutes to hours by diving by 60.
min=200
hours=min/60
hours

3.3333333333333335

## Author:Salah Akram